#A. Two Sum Trouble

In [ ]:
n, s = map(int, input().split())
if 1 <= n <= 10**6 and 1 <= s <= 10**9:
  arr = list(map(int, input().split()))
  l, r = 0, n - 1
  flg = False
  while l < r:
      current_sum = arr[l] + arr[r]
      if current_sum == s:
          print(l + 1, r + 1)
          flg = True
          break
      elif current_sum < s:
          l += 1
      else:
          r -= 1
if flg == False:
  print(-1)

# 6 18
# 1 5 8 9 9 10
# output : 3 6

6 18
1 5 8 9 9 10
3 6

#B. A Beautiful Sorted List

In [ ]:
N = int(input())
list_N = list(map(int, input().split()))
M = int(input())
list_M = list(map(int, input().split()))

if 1 <= N <= 10**6 and 1 <= M <= 10**6:
    i, j = 0, 0
    merged_list = []

    while i < M and j < N:
        if list_M[i] < list_N[j]:
            merged_list.append(list_M[i])
            i += 1
        else:
            merged_list.append(list_N[j])
            j += 1

    while i < M:
        merged_list.append(list_M[i])
        i += 1
    while j < N:
        merged_list.append(list_N[j])
        j += 1

print(*merged_list)
# 4
# 1 2 12 13
# 3
# 10 15 18

4
1 2 12 13
3
10 15 18
[1, 2, 10, 12, 13, 15, 18]

#C. Longest Subarray Sum

In [ ]:
N, K = map(int, input().split())
arr = list(map(int, input().split()))

if 1<= N <= 10**5 and  1<= K <= 10**9:
  i = 0
  j = 0
  current_sum = 0
  max_len = 0

  while j < N:
    current_sum += arr[j]

    while current_sum > K and i <= j:
        current_sum -= arr[i]
        i += 1

    max_len = max(max_len, j - i + 1)

    j += 1

print(max_len)
# 5 4
# 4 1 2 1 5

5 4
4 1 2 1 5
3

#D. Can you Iterate the Binary String?

In [7]:
def find_one(s, left, right):
    if left > right:
        return -1

    mid = (left + right) // 2

    if s[mid] == '1':
        first_occurrence = find_one(s, left, mid - 1)

        if first_occurrence == -1:
            return mid + 1
        else:
            return first_occurrence
    else:
        return find_one(s, mid + 1, right)


T = int(input())
results = []

for i in range(T):
    S = input().strip()
    results.append(find_one(S, 0, len(S) - 1))

print("\n".join(map(str, results)))

1
0
-1

#E. Count the Numbers

In [5]:
def lower_bound(arr, X):
    left, right = 0, len(arr)
    while left < right:
        mid = (left + right) // 2
        if arr[mid] < X:
            left = mid + 1
        else:
            right = mid
    return left


def upper_bound(arr, X):
    left, right = 0, len(arr)
    while left < right:
        mid = (left + right) // 2
        if arr[mid] <= X:
            left = mid + 1
        else:
            right = mid
    return left


N, Q = map(int, input().split())
arr = list(map(int, input().split()))




results = []
for i in range(Q):
    lower, upper = map(int, input().split())

    count = upper_bound(arr, upper) - lower_bound(arr, lower)
    results.append(str(count))

print("\n".join(results))


# Input
# 5 3
# 10 20 20 45 79
# 20 50
# 5 45
# 1 100
# Output
# 3
# 4
# 5

5 3
10 20 20 45 79
20 50
5 45
1 100
3
4
5

2
0000000
00000001111111111111111
-1
8

2
0000
0001
-1
4